<app-new-task />
<app-tasks-list />
<p>
  There are different ways to provide a service in Angular. The most common way
  is to use the &#64;Injectable decorator with the providedIn property set to
  'root'. This means that the service will be available application-wide and
  there will be only one instance of it (singleton).
</p>
<p>
  Another way to provide a service is to add it to the providers array of a
  component. This means that the service will be available only within that
  component and its children, and there will be a new instance of the service
  for each component that provides it.
</p>
<p>
  In this case, we want the TasksService to be available application-wide, so we
  use the providedIn: 'root' option in the &#64;Injectable decorator. This way,
  we can inject the TasksService into any component that needs it, and we will
  always get the same instance of the service.
</p>
<p>
  Different injectors in Angular have different lifecycles. The root injector is
  created when the application starts and is destroyed when the application is
  destroyed. The component injector is created when the component is created and
  is destroyed when the component is destroyed. The module injector is created
  when the module is loaded and is destroyed when the module is unloaded. The
  service injector is created when the service is created and is destroyed when
  the service is destroyed.
</p>
<p>
  &#64;Injectable uses application root (Environment injector) Module injector
  is used by providing the service named in the providers array of a module.
  Platform Environment injector is used by providing the service named in the
  providers array of a platform. (Add an object to the providers array of the
  platform when bootstrapping the application).
</p>
